mixin modalAdd(title, formId='addItemForm', saveClass='save-item')
    div(class="modal fade" id=formId tabindex="-1")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title")= title
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                    if block 
                        block
                div(class="modal-footer")
                    button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Закрыть
                    button(type="button" class="btn btn-primary " + saveClass) Сохранить