mixin pageHead(title)
    div(class="row")
        div(class="col-6")
            h1= title
        div(class="col-6 text-end")
            a(class="btn btn-success btn add-item" data-bs-toggle="modal" data-bs-target="#addItemForm") Добавить
            if block 
                block
    hr