mixin table(items)
    div(class="row")
        div(class="col-12 table-responsive")
            table(class="table table-hover table-editor")
                thead 
                    tr
                        each item in items 
                            th= item
                        th 
                tbody